/* DefencePage.css */

.DefencePage {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f7fa;
}

.card-header {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-header h2 {
  margin: 0;
}

.card-header p {
  margin: 5px 0;
  font-size: 14px;
}

.ammo-list {
  margin: 20px 0;
}

.ammo-item {
  background-color: #007bff;
  color: #020202;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.ammo-item:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #007bff;
  color: #fff;
}

table td {
  font-size: 14px;
  color: #333;
}

table tr:hover {
  background-color: #f1f1f1;
}

p {
  text-align: center;
  font-size: 16px;
  color: #333;
}
